.not-found-container{
    display: flex;
    margin: 0 auto;;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    min-width: 350px;
}
.not-found-container img {
    width: 100%;
    min-width: 350px;
    display: block;
    margin: 0 auto;
}

.not-found-container p {
    text-align: center;
    font-size: 32px;
    margin: 25px 0 60px 0;
    font-family: 'Orbitron', sans-serif;
}

.return-to-map{
    display: inline-block;
    border: 3px solid black;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #000;
    padding: 10px 20px
}

.return-to-map:hover {
    transform: scale(1.2);
    border: 3px solid #fff;
}


@media screen and (max-width: 550px) {
    .not-found-container p {
        font-size: 24px;
    }
    
    .return-to-map{
        font-size: 18px;
        padding: 10px;
    }
}