/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";



/* ----------- RESET ------------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* ----------- GENERAL ------------ */


body {
    background: linear-gradient(to top, #4e54c8, #8f94fb);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* --------------- HEADER + NAV --------------- */

header {
    width: 100%;
    border-bottom: 1px dashed black;
    text-align: center;
}

.nav-link {
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    padding: 25px;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    .nav-link{
        font-size: 35px;
        padding: 15px;
    }
}

/* --------------- MAIN --------------- */
.main-content {
    width: 80%;
    min-width: 350px;
    min-height: 100%;
    margin: 0 auto;
}

.popup-container {
    padding: 5px;
    font-family: 'Inter', sans-serif;
}

.popup-container p {
    margin: 5px;
}


.name{
    color: #4e54c8;
    margin: 0;
}

.leaflet-container .link{
    text-decoration: none;
    display: block;
    margin: 15px auto 0;
    text-align: center;
    color: #8f94fb;
    border: 1px solid #8f94fb;
    border-radius: 5px;
    padding: 5px 10px;
    width: 50%;
}

.leaflet-container .link:hover {
    background-color: #8f94fb;
    border: 1px solid black;
    color: black;
}

@media screen and (max-width: 700px) {
    .popup-container {
        padding: 0;
    }

    .popup-container p {
        margin: 3px;
        font-size: 12px;
    }

    .leaflet-container .link{
        margin: 10px auto 0;
        border-radius: 5px;
        padding: 5px 10px;
    }
}



/* -------------FOOTER ----------------- */


footer{
    margin-top: auto;
    padding: 25px;
    color: #f1f1f1;
    text-align: center;
    font-size: 18px;
    border-top: 1px solid black;
}

.footer-list {
    padding: 5px;
    margin-top: 10px;
}

.footer-item {
    display: inline-block;
    margin-right: 15px;
} 

.footer-link {
    text-decoration: none;
    color: #f1f1f1;
}


.footer-link:hover {
    color: #ccc;
    text-decoration: underline;
}

@media screen and (max-width: 550px ) {
    footer{
        margin-top: auto;
        padding: 15px;
        font-size: 16px;
    }
}

